.MovieContainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 280px;
    box-shadow: 0 3px 10px 0 #aaa;
    cursor: pointer;
}

.InfoColumn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}